#carritoPanel{
    display: flex;
    flex-direction: column;
    position: fixed;   
    top: 0;            
    right: 0;          
    height: 100vh;     
    width: 100%;    
    background-color: #dedede; 
    color: #222222;              
    padding: 20px;
    z-index: 1000;         
    overflow-y: auto;   
    transform: translateX(100%);
    transition: transform 0.3s ease-in-out;
}

#carritoPanel.visible {
    transform: translateX(0);
}

.contenido-principal {
   padding: 30px; 
}

.cursoEnCarrito {
    border-bottom: 1px solid #ccc;
    padding: 10px 0;
    display: flex;
    align-items: center;
}

#botonCerrarCarrito{
    color: #c00000;
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 2rem;
    margin-bottom: 15px;
    font-family: inherit;
    align-self: self-end;
}

.tituloCarrito{
    text-align: center;
    margin-bottom: 20px;
    font-family: 'Arial', sans-serif;
}

.imagenCursoCarrito{
    width: 25%;
    height: 20%;
    object-fit: cover;
    margin-right: 15px;
    border: #222222 1px solid;
    border-radius: 5px;
}

.contenedorDetalles{
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 100%;
    align-items: center;
}
.contenedorDetalles h4{
    font-size: 1.2rem;
}
.contenedorDetalles p{
    font-size: 1.1rem;
}
.eliminarDelCarrito{
    color: #c00000;
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 1.7rem;
    margin-bottom: 15px;
    font-family: inherit;
}

.totalCarrito{  
    margin-top: 20px;
    padding-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.5rem;
}

.botonFinalizarCompra{
    background-color: #004AAD;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 1.2rem;
    border-radius: 5px;
}

@media screen and (max-width: 768px) {
    .contenedorDetalles h4{
        margin: 0;
        font-size: 1.1rem;
    }
    .contenedorDetalles p{
        margin: 0;
        font-size: 1rem;
    }
}

@media (max-width: 480px) {
    .contenedorDetalles h4{
        font-size: 0.9rem;
    }
    .contenedorDetalles p{
        font-size: 0.8rem;
    }
}