*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;    
}
main{
    width: 80%;
}
.tituloContacto{
    color: white;
    padding-bottom: 1em;
}
.contenedorContacto{
    display: grid;
    grid-template-columns: 1fr 1fr;  
    gap: 2em;

}
.formularioContacto{
    display: flex;
    flex-direction: column;
    gap: 1.5em;
    
      
}
.formularioContacto input {
    border: 0.065em solid #0c0000 ;
    border-radius: 0.4em;
    width: 100%;
    height: 3em;
}
.formularioContacto textarea{
    width: 100%;
    height: 6em;
    border-radius: 0.4em;
    padding-top: 0.4em;
    
}
.datosContacto{
    width: 100%;
    height: 17em;
    border-radius: 0.4em;
    border: 0.065em solid #b6c4f3 ;   
    display: grid;
    font-weight: bold;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "titulo titulo"
                         "info foto"
                         "info foto";
    
}

.contenedorBoton{
    display: flex;
    justify-content: center;
    margin: 1em;
}
.botonEnviar{
    width: 8em;
    height: 2.5em;
    border-radius: 0.4em;
    border: none;
    background-color: #7a7373;
    color: white;
    font-weight: bold;    
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2em;
    box-shadow: #0c0000 0px 4px 8px 0px;
       
}
.botonEnviar:hover{
    background-color: #5c5555;
    transition-duration: 0.3s;
    border: 0.2em solid #006aff ;
    transform: scale(1.1);
}
.formularioContacto  input::placeholder, textarea::placeholder{
    padding-left: 0.5em;
    color: #706b6b;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2em;
    margin-top: 0.2em;
    
}
.formularioContacto input:hover, textarea:hover{
    border: 0.2em solid #006aff ;
    transition-duration: 0.3s;
}
.contenedorMapa{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height:auto;
    border-radius: 0.4em;
    object-fit: cover;
    margin: 2em 0;
}
.mapa{
    border: 0.065em solid #0c0000 ;
    border-radius: 0.4em;
    width: 100%;
    height: 17em;
}
.tituloDos{
    color: white;
    padding-bottom: 1em;
    font-size: 2em;
}
.subtituloContacto{ 
    grid-area: titulo;
    font-size: 1.5em;    
    display: flex;
    justify-content: center;
    align-items: start;
    color: #faf9f9;
    background-color: #7a7373;
    border: 0.065em  solid #b6c4f3 ;
}
iframe{
    grid-area: foto;
    width: 95%;
    height: 13em;
    border-radius: 0.4em;  
    justify-self: center;
    align-self: center;
    box-shadow: #0c0000 0px 4px 8px 0px;
    border: 0.065em solid #b6c4f3 ;
}
iframe:hover{
    border: 0.2em solid #006aff;
   
}
.listaContacto{
    grid-area: info;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 1.5em;
    padding: 1em;
    margin: 0.5em;
    box-shadow: #0c0000 0px 4px 8px 0px;
    font-size: 1.2em;
    color: rgb(243, 246, 248);
    background-color: rgb(52, 62, 82);
    border: 0.065em  solid #b6c4f3 ;
}

svg{
    width: 1.2em;
    height: 1.2em;    
}
svg:hover{
    transform: scale(1.2);
}
.iconos{
    color: #e1e7e7;
    margin-right: 0.5em;
    cursor: pointer;
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 0.5em;    
}
.iconos:hover{
    cursor: pointer;
    transition-duration: 0.3s;
    transform: scale(1.1);
}
@media (max-width: 768px){
    .contenedorContacto{
        grid-template-columns: 1fr;        
    }
    .datosContacto{
        height: auto;
        grid-template-areas: "titulo"
                             "foto"
                             "info";        
    }
    iframe{
        width: 90%;
        height: 10em;        
    }
    .listaContacto{
        font-size: 1em;
        gap: 1em;
        padding: 0.5em;
        margin: 0.5em;
    }
    .formularioContacto{
        gap: 1em;
    }
    .formularioContacto input {
        height: 2.5em;        
    }
    .formularioContacto textarea{
        height: 5em;        
    }
    .botonEnviar{
        width: 7em;
        height: 2em;
        font-size: 1em;        
    }
    .subtituloContacto{
        font-size: 1.2em;
    }
}
