* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    position: relative;
}

main {
    width: 80%;
}

.tituloContacto {
    color: white;
    padding-bottom: 1em;
}

.contenedorContacto {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    grid-template-areas: "formulario datos"
        "boton boton";
    gap: 2em;

}
.contenedorContactoCorrecto{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 60vh;
    gap: 1em;
    color: #ffffff;
    margin-top: 20px;
}
.formularioContacto {
    grid-area: formulario;
    display: flex;
    flex-direction: column;
    gap: 1.5em;
    width: 90%;

}

.formularioContacto input,
.formularioContacto textarea {
    border: 0.065em solid #f5ecec;
    border-radius: 0.4em;
    width: 100%;
    height: 3em;
    background-color: #222222;
    color: white;
}
.contenedoDeMensaje{
    position: relative;
}

.formularioContacto textarea {
    width: 100%;
    height: 6em;
    border-radius: 0.4em;
    padding-top: 0.4em;
    background-color: #222222;
    border: 0.065em solid #f5ecec;
    
}
.textarea-caracteres{
    position: absolute;
    right:  2%;
    color: white;
}

.datosContacto {
    grid-area: datos;
    width: 100%;
    height: 17em;
    border-radius: 0.4em;
    border: 0.065em solid #b6c4f3;
    background-color: #222222;
    display: grid;
    font-weight: bold;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "titulo titulo"
        "info foto"
        "info foto";

}

.contenedorBoton {
    grid-area: boton;
    display: flex;
    justify-content: center;
    margin: 1em;
}

.botonEnviar {
    width: 8em;
    height: 2.5em;
    border-radius: 0.4em;
    border: none;
    background-color: #1d45e8;
    border: 0.1em solid #eff1f3;
    color: white;
    font-weight: bold;
    cursor: pointer;
    font-size: 1.2em;
    box-shadow: #0c0000 0px 4px 8px 0px;
    
}
.js-modal{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 2em;    
    color:#1d45e8;;
    border:0.05em solid rgb(249, 250, 253);
    background-color: #262b32;
    box-shadow: #e1e7e7 5px;
    width: 24vw;
    height: 20vh;
    top: 50%;
    left: 35%;
   
    border-radius: 5px;
    
}
.contenedorDialog{
    padding: 0.4em;
    text-align: center;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    gap: 2em;
}
.cerrarDialog{
    font-size: 0.6em;
    background-color: #006aff;
    border:2px solid white;
    color: white;
    padding: 0.6em;
    border-radius: 5px;
    
}

.botonEnviar:hover {
    background-color: #222222;
    transition-duration: 0.3s;
    border: 0.1em solid #006aff;
    transform: scale(1.1);
}

input:focus,
textarea:focus {
    color: #f1efef;
}

.formularioContacto input::placeholder,
textarea::placeholder {
    padding-left: 0.5em;
    color: #dbd4d4;
    font-size: 1.2em;
    margin-top: 0.2em;

}

.formularioContacto input:hover,
textarea:hover {
    border: 0.2em solid #006aff;
    transition-duration: 0.3s;
}

.contenedorMapa {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: auto;
    border-radius: 0.4em;
    object-fit: cover;
    margin: 2em 0;
}

.mapa {
    border: 0.065em solid #0c0000;
    border-radius: 0.4em;
    width: 100%;
    height: 17em;
}

.tituloDos {
    color: white;
    padding-bottom: 1em;
    font-size: 2em;
}

.subtituloContacto {
    grid-area: titulo;
    font-size: 1.5em;
    text-align: center;
    color: #faf9f9;
    border: 0.065em solid #2222;
    border: 0.065em solid #b6c4f3;
}

iframe {
    grid-area: foto;
    width: 95%;
    height: 13em;
    border-radius: 0.4em;
    justify-self: center;
    align-self: center;
    box-shadow: #0c0000 0px 4px 8px 0px;
    border: 0.065em solid #b6c4f3;
}

iframe:hover {
    border: 0.1em solid #006aff;
    transform: scale(1.1);

}

.listaContacto {
    grid-area: info;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 1em;    
    margin: 1.1em;
    box-shadow: #0c0000 0px 4px 8px 0px;
    font-size: 1.2em;
    color: rgb(243, 246, 248);
    background-color: #222222;
    border: 0.065em solid #b6c4f3;
}
.datosContacto__video{
    border: 0.065em solid #b6c4f3;
    border-radius: 0.4em;
    width: 85%;
    height: 13em;
    justify-self: center;
    box-shadow: #0c0000 0px 4px 8px 0px;
}

.listaContacto:hover {
    border: 0.1em solid #006aff;
    transition-duration: 0.3s;
}

svg {
    width: 1.2em;
    height: 1.2em;
}

svg:hover {
    transform: scale(1.2);
}

.iconos {
    color: #e1e7e7;
    margin-right: 0.5em;
    cursor: pointer;
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 0.5em;
    padding: 0.2em;
}

.iconos:hover {
    cursor: pointer;
    transition-duration: 0.3s;
    transform: scale(1.1);
}
.btnVolver {
    width: 10em;
    height: 3em;
    border-radius: 0.4em;
    border: none;
    background-color: #222222;
    border: 0.1em solid #eff1f3;
    color: white;
    font-weight: bold;
    cursor: pointer;
    font-size: 1em;
    box-shadow: #0c0000 0px 4px 8px 0px;
    padding: 0.2em;
}

.btnVolver:hover {
    background-color: #222222;
    transition-duration: 0.3s;
    border: 0.1em solid #006aff;
    transform: scale(1.1);
}
.mensaje {
    font-size: 1.1em;
    color: #f1efef;
}

.js-estilo-alerta{
   background: #f64545;
   color: #f9f7f7;
   
   display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media (max-width: 768px) {
    .contenedorContacto {
        grid-template-columns: 1fr;
        grid-template-areas: "formulario"
                               "boton"
                               "datos";
    }

    .datosContacto {
        width: 90%;
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;

    }

    iframe {
        width: 90%;
        height: 10em;
    }


    .enviandoMail {
        width: 60%;
        height: 20%;
        border-radius: 5px;
        position: absolute;
        top: 40%;
        left: 20%;

    }
    .subtituloContacto {
        font-size: 1.2em;
        width: 90%;
        margin-bottom: 0.5em;
    } 

    svg {
        width: auto;
        height: 1.9em;
    }
    .contenedorMapa{
        width: 20em;
        height: auto;   
        padding: 0.5em;;
    }
    .js-modal{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 1.3em;    
    color:#1d45e8;;
    border:0.05em solid rgb(249, 250, 253);
    background-color: #262b32;
    box-shadow: #e1e7e7 5px;
    width: 50%;
    height: 25vh;
    top: 50%;
    left: 20%;
    padding: 2em;
    border-radius: 5px;
    
}
.contenedorDialog{
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}
.cerrarDialog{
    background-color: #006aff;
    border:2px solid white;
    color: white;
    padding: 0.5em;
    border-radius: 5px;
}
}