*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;    
}
main{
    width: 80%;
}
.tituloContacto{
    color: white;
    padding-bottom: 1em;
}
.contenedorContacto{
    display: grid;
    grid-template-columns: 1fr 1fr;  
    gap: 2em;

}
.formularioContacto{
    display: flex;
    flex-direction: column;
    gap: 1.5em;
    
      
}
.formularioContacto input {
    border: 0.065em solid #0c0000 ;
    border-radius: 0.4em;
    width: 100%;
    height: 3em;
}
.formularioContacto textarea{
    width: 100%;
    height: 6em;
    border-radius: 0.4em;
    padding-top: 0.4em;
    
}
.datosContacto{
    width: 100%;
    height: 17em;
    border-radius: 0.4em;
    border: 0.065em solid #0c0000 ;
    display: grid;
    font-weight: bold;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "titulo titulo"
                         "info foto"
                         "info foto";
    
}

.contenedorBoton{
    display: flex;
    justify-content: center;
    margin: 1em;
}
.botonEnviar{
    width: 8em;
    height: 2.5em;
    border-radius: 0.4em;
    border: none;
    background-color: #7a7373;
    color: white;
    font-weight: bold;    
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2em;
    
}
.formularioContacto  input::placeholder, textarea::placeholder{
    padding-left: 0.5em;
    color: #706b6b;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2em;
    margin-top: 0.2em;
}
.contenedorMapa{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-width: 100%;
    height:auto;
    border-radius: 0.4em;
    object-fit: cover;
    margin: 2em 0;
}
.mapa{
    border: 0.065em solid #0c0000 ;
    border-radius: 0.4em;
    width: 100%;
    height: 17em;
}
.tituloDos{
    color: white;
    padding-bottom: 1em;
    font-size: 2em;
}
.subtituloContacto{ 
    grid-area: titulo;
    font-size: 1.5em;    
    display: flex;
    justify-content: center;
    align-items: start;
   color: #faf9f9;
   margin-bottom: 0.4em;
}
img{
    grid-area: foto;
    width: 80%;
    height: 14em;
    border-radius: 0.4em;
    object-fit: cover;
}
.listaContacto{
    grid-area: info;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1.5em;
    padding-left: 1em;
    font-size: 1.2em;
    color: rgb(243, 246, 248);
}
.listaContacto li i{
    color: #006aff;
    margin-right: 0.5em;
}
