.portadaCurso {
    width: 60vh;
    border-radius: 10px;
    border: 2px solid #004AAD;
}

.imgDocente {
    width: 15vh;
    height: 15vh;
    border-radius: 50%;
    border: 3px solid gold;
    margin-left: 2em;
}

.contenedorMain {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}

.descripcionCurso {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3em;
}

.descripcion {
    margin-left: 2em;
}

.btn-inscripcion {
    background-color: #004AAD;
    color: #dedede;
    border: none;
    padding: 0.8em;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin-top: 0.7em;
}

.btn-inscripcion:hover {
    background-color: #dedede;
    color: #004AAD;
}

.clasesCurso {
    display: flex;
    justify-content: center;
    margin-top: 3em;
    margin-bottom: 3em;
}

.detallesDocente {
    display: flex;
    border: 1px solid #0082AD;
    border-radius: 1em;
    height: 15em;
    width: 80%;
    align-items: center;
    margin-bottom: 5em;
    background-color: #1D222E;
}

.docente {
    display: flex;
    flex-direction: column;
    margin-left: 2em;
    margin-bottom: 4em;
    gap: 1em;
}

details {
    border: 1px solid #ddd;
    background: #222222;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
    transition: all 0.3s ease;
}

summary {
    padding: 1em;
    cursor: pointer;
    font-weight: bold;
    color: rgb(29, 34, 46);
    width: 20em;
    background: #7e868b;
    list-style: none;
    color: white;
    position: relative;
}


/* Quita el triángulo default */
summary::-webkit-details-marker {
    display: none;
}

/* Icono personalizado con + y - */
summary::after {
    content: "+";
    position: absolute;
    right: 16px;
    font-weight: bold;
    transition: transform 0.3s;
}

details[open]>summary::after {
    content: "−";
    transform: rotate(180deg);
}

details[open] summary {
    background: #7e868b;
    color: white;
}

details p {
    padding: 10px 20px;
    margin: 0;
    border-top: 1px solid #eee;
    color: #dedede;
}

/* Sub-acordeones */
details details {
    margin: 1em;
    border: 1px solid #eee;
    border-radius: 5px;
}

details details summary {
    background: #fdfdfd;
    font-weight: normal;
    font-size: 1em;
}

details details p {
    font-size: 1em;
    padding: 0.5em;
}

.valoracion {
    margin-top: -1em;
    font-size: 1.3em;
}

.estrella {
    color: gold;
}

.carrusel {
    display: flex;
    gap: 5%;
    margin: 2rem 0;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
}

.contenedor-cursos {
  display: flex;
  gap: 1.5rem;
  overflow-x: auto;
  scroll-behavior: smooth;
  scrollbar-width: none;
}
.contenedor-cursos::-webkit-scrollbar {
  display: none;
}

.curso {
    display: flex;
    flex: 0 0 calc((100% - 3rem) / 3);
    flex-direction: column;
    border: 1px solid #dedede;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    width: 30%;
    padding: 15px;
    justify-content: center;
    align-items: stretch;
    margin-bottom: 20px;
    background-color: #dedede;
}

.detallesCurso {
    background-color: #004AAD;
    color: #dedede;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin-top: 10px;
}

.imgCurso {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
    border: 2px solid #004AAD;
}

.nombreCurso,
.duracionCurso,
.precioCurso {
    color: black
}

.flecha {
    color: white;
    font-size: 20em;
    user-select: none;
}

#izquierda {
    cursor: pointer;
    margin-right: 110%;
    margin-top: -1.4em;
    position: relative;
}

#izquierda:hover {
    color: #006aff;
}

#derecha {
    cursor: pointer;
    margin-left: 110%;
    margin-top: -1.4em;
    position: relative;
}

#derecha:hover {
    color: #006aff;
}

@media screen and (max-width: 1200px) {

    .portadaCurso {
    width: 50vh;
}

    .carrusel {
        gap: 2%;
    }

    .flecha {
        font-size: 15em;
    }
}

@media screen and (max-width: 1024px) {

    .curso {

        width: 27%;
    }

    .portadaCurso {
    width: 100%;
}
}

@media screen and (max-width: 768px) {

    .portadaCurso {
        width: 90%;
    }

    .descripcionCurso {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .descripcion {
        margin-left: 0;
    }

    .imgArt {
        display: flex;
        justify-content: center;
    }

    .imgDocente {
        margin-left: 0;
    }

    .btn-inscripcion {
        width: 100%;
    }

    .docente {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 1em;
        margin-left: 0;
        padding: 1em;
        gap: 0.5em;
    }

    summary {
        width: 15em;
    }

    .detallesDocente {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: auto;
        padding-top: 1em;
        margin-left: 0;
        margin-bottom: 3em;
        width: 80%;
    }

    .imgDocente {
        width: 15vh;
        height: 15vh;
    }

    .carrusel {
        display: grid;
        align-items: center;
        justify-items: center;
    }

    .nombreCurso,
    .duracionCurso,
    .precioCurso {
        font-size: 80%;
    }

    .curso {
        width: 80%;
        flex: 0 0 calc((100% - 1rem) / 1);
    }

    .flecha {
        display: none;
    }

    .detallesCurso {
        font-size: 0.5em;
    }

    .contenedor-cursos {
        width: 90%;
    }

}