* {
    box-sizing: border-box;
}
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: "Source Sans Pro", "Corbel", Arial, sans-serif;
    background-color: #222222;
}
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
main{
    width: 80%;
    margin: 0 auto;    
    flex-grow: 1; 
}
.headerInicio{
    font-size: 1.25em;
}
.navegador{
    display: flex;
    justify-content: space-between;
    width: 100%;
    top: 0;
    left: 0;
    background-color: #111111;
    align-items: center;
    padding: 10px;
    font-weight: 500;
    box-shadow: #111111 0px 4px 8px 0px;
    flex-wrap: wrap;
}
.logoDescripcion{
    display: flex;
    align-items: center;
    font-size: 1.5em;
    gap: 10px;
    font-weight: 1000;
    margin-left: 10px;
    color:#006aff;
    text-decoration: none;
}
.logoDescripcion:hover{
    text-decoration: none;
    color:#ffffff;
    cursor: pointer;
    transition-duration: 0.3s;
}
.logoUnlam{
    width: 2.5em;
    height: 2.5em;
}

.headerList{
    display: flex;
    list-style: none;
    padding-right: 40px;
    align-items: center;
}
.headerListItem{
    display: flex;
    text-decoration: none;
    color: #000000;
    border-radius: 10px;
}
.headerListItem:hover{
    cursor: pointer;
    border: #ffffff solid 0px;
    background-color: #006aff62;
    transition-duration: 0.4s;
}
.botonNav, .botonNavCarrito{
    text-decoration: none;
    color: #ffffff;
    padding: 10px;
    margin: 0 5px;
}
.botonNavCarrito{
    position: relative;
}
.iconoNavCarrito{
    position: absolute;
    top: -8px;
    right: -8px;
    background-color: #006aff;
    color: #ffffff;
    border-radius: 100%;
    padding: 1px 6px;
    font-weight: 700;
    font-size: 0.9em;
}
.headerListItemRegistrarse{
    display: flex;
    background-color: #ffffff;
    text-decoration: none;
    color: #ffffff;
    border-radius: 10px;
}
.headerListItemRegistrarse:hover{
    cursor: pointer;
    border: #ffffff solid 0px;
    background-color: #006aff;
    color: #ffffff;
    transition-duration: 0.3s;
}
.botonNavRegistrarse{
    text-decoration: none;
    color: #000000;
    padding: 10px;
    margin: 0 5px;
    font-weight: 400;
}
.botonNavRegistrarse:hover{
    color: #ffffff;
    transition-duration: 0.3s;
}

.iconoNav{
    display: none;
}
.contenedorMain{
    flex-grow: 1;
}
.labelBuscar{
    color: #ffffff;
}
.elementosHeader{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 1%;
    margin-bottom: 2%; 
}
.fa-cart-shopping{
    font-size: 0.9em;
}

.formularioBuscador{
    display: flex;
    flex-direction: row;
    align-items: center;    
    gap: 10px;
    color:#ffffff;
    width: 75%;
}
.formularioBuscador input:hover{
    border: 1px solid #006aff;
    transition-duration: 0.2s;    
}
.inputBuscar{
    background-color: #222222;
    color: #ffffff;
    border: 1px solid #ffffff;;
    border-radius: 5px;
    padding: 5px;
    font-size: 1.1em;
    width: 100%;
}
.fa-magnifying-glass{
    background-color: #006aff;
    padding: 10px;
    border-radius: 50%;
    color: #ffffff;
    cursor: pointer;
}
.fa-magnifying-glass:hover{
    color: #006aff;
    background-color: #ffffff;
    transition-duration: 0.3s;
}
.contenedorFooter{
    display: flex;
    justify-content:space-between;
    width: 100%;
    border: 1px solid #222222;
    font-size: 1em;
    background-color: #222222;
    color: #ffffff;
    font-weight: 500;
    padding-right: 5%;
    padding-left: 5%;
}
.contenedorFooter ul{
    padding: 0;
}
.footerList{
    display: flex;
    flex-direction: column;
    list-style: none; 
    justify-content: space-between;   
}
.footerList a{
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: #ffffff;
    cursor: pointer;
}
@media (max-width: 1200px) {
    .navegador{
        justify-content: center;
        flex-direction: column;
        background: linear-gradient(#111111, #222222);
        box-shadow: 0px 0px 0px 0px;
    }
    .headerList{
        padding: 0;
        margin-top: 10px;
        margin-bottom: 10px;
    }
}
@media (max-width: 768px) {
    .navegador{
        box-shadow: 0px 0px 0px 0px;
        background: linear-gradient(#222222, #222222);
    }
    .contenedorFooter{
        display: none;
    }
    .iconoNav{
        display: block;
    }
    .logoUnlam{
        width: 2em;
        height: 2em;
    }
    .logoDescripcion{
        flex-direction: row;
        font-size: 1em;

    }
    .headerList{
        padding: 0;
    }
    
    .textoNav{
        display: none;
    }
    .headerListItem{
        font-size: 1em;
    }
    
    .headerListItem:hover{
        cursor: pointer;
        border: none;
        background-color: transparent;
    }
    .inputBuscar{
        width: 100%;
    }
    .formularioBuscador label{
        display:none;
    }
    .iconoNavCarrito{
        display: flex;
        flex-direction: row;
        font-size: 0.8em;
        gap: 5px;
        top: -5px;
        right: -5px;
    }
    .fa-cart-shopping{
        font-size: 0.7em;
    }

}

@media (max-width: 600px) {
    .navegador{
        justify-content: center;
    }
    .fa-solid{
        font-size: 0.8em;

    }
}