.contenedorPasos{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 2rem 0;
    flex-wrap: wrap;
}
.pasos{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #004AAD;
    color: white;
    font-size: 1.2rem;
    padding: 1rem;
    border-radius: 5px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 200px;
    height: 100px;
    margin: 10px;
}
.titulo{
    text-align: center;
    margin-top: 2rem;
    font-size: 1.7rem;
    color: #dedede;
    font-weight: bold;
}

.contenedorCursos{
    display: flex;
    gap: 5%;
    margin: 2rem 0;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
}

.curso{
    display: flex;
    flex-direction: column;
    border: 1px solid #dedede;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    width: 30%;
    padding: 15px;
    justify-content: center;
    align-items: stretch;
    margin-bottom: 20px;
    background-color: #dedede;
}
.imgCurso{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
    border: 2px solid #004AAD;
}

.detallesCurso{
    background-color: #004AAD;
    color: #dedede;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.1rem;
    margin-top: auto;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin-top: 10px;
}

.agregarCurso{
    background-color: #004AAD;
    color: #dedede;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.1rem;
    margin-top: 10px;
    font-family: inherit;
}
.contenedorMediosDePago{
    display: flex;
    flex-direction: row;
    gap: 20px;
    margin: 2rem 0;
    flex-wrap: wrap;
    justify-content: space-around
}
.medioDePago{
    display: flex;
    width: 30%;
    height: 100px;
    background-color: #dedede;
    border-radius: 10px;
    padding: 10px;
    justify-content: center;
}
/* Slider */

.contenedorSlider {
    width: 100%;       
    margin: 0 auto;    
    overflow: hidden;  
    position: relative; 
    border-radius: 10px; 
}

.slider-wrapper {
    display: flex;
    transition: transform 0.5s ease-in-out; 
}

.imagenSlider {
    width: 100%;
    flex-shrink: 0;    
    height: 400px;
    object-fit: cover;
    border-radius: 10px; 
}
.slider-nav {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;    
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 1.5rem;
}

#prev-slide {
    left: 10px;
}

#next-slide {
    right: 10px;
}

@media screen and (max-width: 768px) {
    .imagenSlider{
        display: none;
    }

    .contenedorCursos {
        flex-direction: column;
        align-items: center;
    }

    .contenedorPasos {
        gap: 0px;
    }
    .curso {
        width: 80%;
    }
    .medioDePago{
        align-items: center;        
    }
    .medioDePago img{
        width: 50%;
        height: 50%;
    }
}

