.perfil {
  display: flex;
  align-items: flex-start;
  gap: 2em;
  margin: 0 auto;
  padding: 1.5em;
  color: white;
}

.perfil-usuario {
  text-align: center;
  width: 20em;
}

.perfil-usuario p{
    color: white;
    font-size: 1.5em;
}

.foto-perfil {
  width: 10em;
  height: 10em;
  border-radius: 50%;
}

.nombre-usuario {
  margin-top: 0.5em;
  font-size: 0.9em;
  color: #333;
}

.campo {
  display: flex;
  align-items: center;
  margin-bottom: 1em;
  gap: 1.5em;
  font-size: 1.5em;
}
