*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;    
}
.contenedorMain{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #111111;
    border-radius: 50px;
    box-shadow: #111111 0px 4px 8px 0px;
    align-items: center;
    justify-content: center;
    margin-top: 5%;
    margin-bottom: 5%;
}
.titulo-registrarse{
    color: white;
    padding-top: 1em;
    padding-bottom: 1em;
}
.formulario{
    color: white;
    font-size: 1.3em;
    width: 70%;
    display: flex;
    flex-direction: column;
    margin-top: 1em;
}
.campo{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 1em;
    width: 100%;
}
.campo input{
    height: 40px;
    border-radius: 10px;
    border: 1px solid #006aff;
    color:#ffffff;
    background-color: #111111;
    padding: 10px;
    font-size: 0.8em;
    width: 70%;
}

.campo input:hover{
    border: 1px solid #ffffff;
    transition-duration: 0.3s;
}
label{
    width: 30%;
    text-align: left;
}
.botones{
    display: flex;
    justify-content: center;
    gap:2em;
    margin-top: 2em;
}

.btn{
    margin-top: 20px;
    width: 100%;
    height: 50px;
    border-radius: 5px;
    font-size: 1.2em;
}

.registrar{
    color: #ffffff;
    cursor: pointer;
    background-color: #006aff;
    border: #ffffff solid 2px;
}
.registrar:hover{
    color: #006aff;
    background-color: #ffffff;
    border: #006aff solid 2px;
    transition: 0.3s;
}
.cancelar {
    background-color: #ba0000;
    color:#ffffff;
    border: #ffffff solid 2px;
    transition: 0.3s;
}

.cancelar:hover {
    background-color: #ffffff;
    color:#ba0000;
    border: #ba0000 solid 2px;
    transition: 0.3s;
}
.js-modal{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 0.8em;    
    color:#1d45e8;;
    border:0.05em solid rgb(249, 250, 253);
    background-color: #262b32;
    box-shadow: #e1e7e7 5px;
   max-width: 20vw;
    min-height: 20vh;
    top: 30%;
    left: 35%;
    padding: auto;
    border-radius: 5px;    
}
.contenedorDialog{
    padding: 0.4em;
    text-align: center;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    gap: 2em;
}
.cerrarDialog{
    font-size: 0.6em;
    background-color: #006aff;
    border:2px solid white;
    color: white;
    padding: 0.6em;
    border-radius: 5px;
    
}
